@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--bg);
  min-height: 100vh;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

.container {
  max-width: 74rem;
  margin: auto;
}

@media (min-width: 1350px) {
  .container {
    max-width: 100%;
    margin: auto;
    padding: 0 3rem;
  }
}
@media (max-width: 1250px) {
  .container {
    padding: 0 1.75rem;
  }
}
