:root {
  /* (Light Mode Text) */
  --text: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --input: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --bg: hsl(0, 0%, 98%);
  /* ( Light Mode Elements) */
  --elements: hsl(0, 0%, 100%);
}

[data-theme='dark'] {
  /* (Dark Mode Elements) */
  --elements: hsl(209, 23%, 22%);
  --input: hsl(0, 0%, 100%);
  /* (Dark Mode Background) */
  --bg: hsl(207, 26%, 17%);
  /* (Dark Mode Text ) */
  --text: hsl(0, 0%, 100%);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Nunito Sans', sans-serif;

  background-color: var(--bg);
}
